.pokedex {
  background: red;
  position: fixed;
  right: 0;
  top: 5rem;
  max-width: 100vw;
  height: 38rem;
  width: 33rem;
}

.pokedex-evolutions {
  display: flex;
}

.pokedex-evolution {
  display: flex;
}
