.navbar {
  z-index: 5;
  height: 7rem;
  background: rgb(16, 16, 16);
  color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
}

.navbar-item {
  font-size: 4rem;
  margin-top: 0rem;
  letter-spacing: 1rem;
  margin-left: 1rem;
  cursor: default;
}

.navbar-portfoliolink {
  position: absolute;
  right: 2rem;
  top: 3rem;

  a {
    color: rgb(186, 30, 30);
    font-weight: bold;
    transition: all 0.2s ease;
    &:hover {
      color: red;
    }
  }
}
