.navbar {
  height: 7rem;
  background: rgb(16, 16, 16);
  color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
}

.navbar-item {
  font-size: 4rem;
  margin-top: 0rem;
  letter-spacing: 1rem;
  margin-left: 1rem;
}
