.pokemon-list-container {
  max-width: 100vw;
  min-width: 100vw;
  margin-top: 4rem;
  background: rgb(46, 46, 46);
}

@media (min-width: 600px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokemon-list {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  padding: 1rem;
}
.pokemon-card {
  background-color: dodgerblue;
  color: white;
  height: 12.5rem;
  text-align: center;
  width: 100%;
}

.pokemon-card-name {
  height: 2rem;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  margin-top: 0.2rem;
  cursor: default;
}

.pokemon-card-image {
  height: 7rem;
  background: rgba(255, 0, 0, 0.399);
}
